:root {
  /* color */
  --color-black: #373c45;
  --color-white: #ffffff;
  --color-blue: #387cbb;
  --color-yellow: #f7b523;
  --color-pink: #f87579;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-gap: 0.5em;
  --size-button: 3.5em;
  --button-font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

body {
  width: 25em;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.invisible {
  display: none;
}

.logo {
  width: 6.5em;
  height: 6em;
  margin-top: calc(var(--base-gap) * 10);
  cursor: pointer;
  transition: transform 100ms ease;
}

.selete-container {
  display: flex;
  flex-direction: row;
  margin-top: calc(var(--base-gap) * 4);
}

.btn {
  width: var(--size-button);
  height: var(--size-button);
  margin-right: calc(var(--base-gap) + 0.2em);
  transition: transform 100ms ease;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}
.btn:nth-child(1) {
  background-image: url('./imgs/imgs/yellow_t.png');
}
.btn:nth-child(2) {
  background-image: url('./imgs/imgs/yellow_p.png');
}
.btn:nth-child(3) {
  background-image: url('./imgs/imgs/yellow_s.png');
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.colorBtn {
  width: 4em;
  height: 2.5em;
  font-size: var(--button-font-size);
  font-weight: bold;
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

/* shopping-list */
.shopping-list {
  width: 100%;
  height: 480px;
  overflow-y: scroll;
  margin-top: calc(var(--base-gap) + 1em);
}

.shopping-list::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  align-items: center;
  padding: var(--base-gap) calc(var(--base-gap) * 2);
  background-color: var(--color-light-grey);
  border-radius: 0.6em;
  margin-bottom: 0.5em;
}
.item__thumbnail {
  width: var(--size-button);
  height: var(--size-button);
}
.info {
  font-size: 1.2rem;
  margin-left: 1em;
}
